.swatches-container {
    display: flex;
    gap: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.color-swatches {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.swatch {
    width: 100px;
    height: 100px;
    border: 2px solid #ccc;
    cursor: pointer;
    transition: transform 0.2s;

}

.swatch-one {
    background-color: lightblue;
}

.swatch-two {
    background-color: lightgreen;
}

.swatch-three {
    background-color: lavender;
}

.swatch:hover {
    transform: scale(1.05);
    border-color: #333;
}

.result-message {
    padding: 5px 25px;
    margin: auto;
    color: white;
    border-radius: 0.5rem;
}

.correct {
    background-color: #d4edda;
    color: #155724;
    border: 2px solid #c3e6cb;
  }
  
  .incorrect {
    background-color: #f8d7da;
    color: #721c24;
    border: 2px solid #f5c6cb;
  }